<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="footer-main">
        <div class="footer-section">
          <ul class="social-links">
            <li *ngFor="let social of portfolioData?.socialMedia">
              <a [href]="social.url" target="_blank" rel="noopener noreferrer"
                 [innerHtml]="getSocialIcon(social.icon)">
              </a>
            </li>
          </ul>
        </div>

        <div class="footer-section">
          <p>&copy; Mbaye. {{ currentYear }}. All Rights Reserved.</p>
        </div>
      </div>

      <div class="footer-languages">
        <ul>
          <li><a href="#" class="active">ENG</a></li>
          <li><a href="#">FRA</a></li>
          <li><a href="#">GER</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
